@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-banner-image {
    background-image: url(/public/Duvidas.png);
  }

  .bg-rec-tshirt {
    background-image: url(/public/tshirt1.png);
  }

  .bg-rec-sweats {
    background-image: url(/public/sweat1.png);
  }

  .bg-contactos {
    background-image: url(/public/staslideprod.png);
    background-repeat: no-repeat;
    background-size: cover;
    }

    .bg-sobre {
      background-image: url(/public/Sobre.png);
    }